.main-container {
  /* background-image: url('path-to-your-background-image.jpg'); */
  background-size: cover;
  background-position: center;
  padding: 20px;
  border-radius: 8px;
}

.forecast-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.forecast-card .MuiCardContent-root {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forecast-card .MuiTypography-root {
  margin-bottom: 10px;
}

/* Responsive design */
@media (max-width: 600px) {
  .forecast-card .MuiCardContent-root {
    padding: 10px;
  }

  .forecast-card .MuiTypography-h6 {
    font-size: 1rem;
  }

  .forecast-card .MuiTypography-h5 {
    font-size: 1.5rem;
  }

  .forecast-card .MuiTypography-subtitle1,
  .forecast-card .MuiTypography-subtitle2 {
    font-size: 0.875rem;
  }
}


body {
  background-image: url('./assets/Background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}